<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style1.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <title>Drama club</title>
</head>

<body>
	
  <Header>
	<div class="mic_dot">
		<div class="mic"></div>
		<div class="dot"></div>
      
	</div>
	<nav>
		<h5 class="brand">Shakespare's Glory</h5>
		<ul>
			<li><a href="#">HOME</a></li>
			<li><a href="#">ABOUT US</a></li>
			<li><a href="#">EVENTS</a></li>
			<li><a href="#">NEWS</a></li>
			<li><a href="#">MEMBERSHIP</a></li>
		</ul>
		<div class="search">
			<input type="text" placeholder="search...">
	</nav>   
	<!-- dection start -->
	<section>
		<div class="content">
			<h4> ROMEO & <span> JULIET</h4>
			<h5>session 5</h5>
			<div class="rateing">
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-fill"></i>
				<i class="bi bi-star-half"></i> 
			</div>
			<div class="subtitle">
				Historical <span></span> Love <span></span> Story
			</div>	
			
	<div class="btns">
		<button><i class="bi bi-play-fill"></i></button>
		<button><i class="bi bi-cloud-arrow-down"></i></button>
	</div>
		<p>Romeo and Juliet is a tragedy written by William Shakespeare early in his career about the romance between two Italian youths from feuding families. It was among Shakespeare's most popular plays during his lifetime and, along with Hamlet, is one of his most frequently performed plays.</p>
	</div>     
	
	</section>
	<!-- cards start -->
	<div class="cards">
		<div class="card">
			<img src="C:\Users\asus\Videos\new\4865.jpg"alt="">
			<div class="content">
				<h4>THE HAMLET</h4>
				<p>Historical Drama</p>
			</div>
		</div>
		
		<div class="card">
			<img src="C:\Users\asus\Videos\new\THE-COMEDY-OF-ERRORS-2303.jpg"alt="">
			<div class="content">
				<h4>THE OTHELO</h4>
				<p>Historical Drama</p>
			</div>
		</div>
		
		<div class="card">
			<img src="C:\Users\asus\Videos\new\C9TU248XsAERaY3.jpg"alt="">
			<div class="content">
				<h4>ROMEO & JULIET</h4>
				<p>Historical Drama</p>
			</div>
		</div>
		
		<div class="card">
			<img src="C:\Users\asus\Videos\new\338.jpg"alt="">
			<div class="content">
				<h4>THE MACBETH</h4>
				<p>Historical Drama</p>
			</div>
		</div>
		
		<div class="card">
			<img src="C:\Users\asus\Videos\new\636077408574418769-STG0828-julius-caesar-0.jpg"alt="">
			<div class="content">
				<h4>JULIUS CAESAR</h4>
				<p>Historical Drama</p>
			</div>
		</div>
		
		<div class="card">
			<img src="C:\Users\asus\Videos\new\852.jpg"alt="">
			<div class="content">
				<h4>KING HENRY VIII</h4>
				<p>Historical Drama</p>
			</div>
		</div>
		
		<div class="card">
			<img src="C:\Users\asus\Videos\new\antony-cleopatra.jpg"alt="">
			<div class="content">
				<h4>THE CLEOPATRA</h4>
				<p>Historical Drama</p>
			</div>
		</div>
		
		<div class="card">
			<img src="C:\Users\asus\Videos\new\481.jpg"alt="">
			<div class="content">
				<h4>KING JHON</h4>
				<p>Historical Drama</p>
			</div>
		</div>
		
		<div class="card">
			<img src="C:\Users\asus\Videos\new\88.jpg"alt="">
			<div class="content">
				<h4>TWELTH NIGHT</h4>
				<p>Historical Drama</p>
			</div>
		</div>
		
		<div class="card">
			<img src="C:\Users\asus\Videos\new\040.jpg"alt="">
			<div class="content">
				<h4>THE TEMPEST</h4>
				<p>Historical Drama</p>
			</div>
		</div>
		
		
		
		
	</div>
	</header>
</body>
</html>